<p id="notice"><%= notice %></p>

<h1>Services</h1>
<div class="table-responsive-md">
<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Estate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.estate %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Service', new_service_path %>
