<h2 class="white-btn-link">Application Dashboard Metrics</h2>

<p class="btn btn-link white-btn-link"  id="showFullTable">Click here to toggle visibility of columns</a>

<div class="table-responsive">
<table class="table table-responsive table-sm">
  <thead class="thead-dark">
    <tr>
      <th>Capture time</th>
      <th>Metric name</th>
      <th>Metric Description</th>
      <th class="toggleDisplay">Metric value</th>
      <th>Metric status</th>
      <th>Remarks</th>
      <th class="toggleDisplay">Application</th>
        <% if current_user.admin? %>
      		<th class="toggleDisplay" colspan="3"></th>
				<% end %>
    </tr>
  </thead>

  <tbody>
    <% @application_dashboard_metrics.each do |m| %>
      <tr >
        <td><%= m.capture_time %></td>
        <td><%= link_to m.metric_name, application_dashboard_metrics_path(appid: m.application_id,metric_name: m.metric_name) %> </td>
        <td><%= m.metric_description %></td>
        <td class="toggleDisplay"><%= m.metric_value %></td>
        <td class = "<%= m.metric_status == 'KO' ? 'btn-danger':'btn-success'%>" ><%= m.metric_status %></td>
        <td><%= m.remarks %></td>
        <td class="toggleDisplay"><%= m.application.name %></td>
        <% if current_user.admin? %>
					<td class="toggleDisplay"><%= link_to 'Show', m %></td>
        	<td class="toggleDisplay"><%= link_to 'Edit', edit_application_dashboard_metric_path(m) %></td>
        	<td class="toggleDisplay"><%= link_to 'Destroy', m , method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<% if current_user.admin? %>
<%= link_to 'New Application Dashboard Metric', new_application_dashboard_metric_path %>
<% end %>
