<h2 class="white-btn-link">Application Dashboard Metric</h2>

<p>
  <strong>Capture time:</strong>
  <%= @application_dashboard_metric.capture_time %>
</p>

<p>
  <strong>Metric name:</strong>
  <%= @application_dashboard_metric.metric_name %>
</p>

<p>
  <strong>Metric value:</strong>
  <%= @application_dashboard_metric.metric_value %>
</p>

<p>
  <strong>Component name:</strong>
  <%= @application_dashboard_metric.component_name %>
</p>

<p>
  <strong>Component type:</strong>
  <%= @application_dashboard_metric.component_type %>
</p>

<p>
  <strong>Metric status:</strong>
  <%= @application_dashboard_metric.metric_status %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @application_dashboard_metric.remarks %>
</p>

<p>
  <strong>Application:</strong>
  <%= @application_dashboard_metric.application %>
</p>

<%= link_to 'Edit', edit_application_dashboard_metric_path(@application_dashboard_metric) %> |
<%= link_to 'Back', application_dashboard_metrics_path %>
