<p id="notice"><%= notice %></p>

<h1>Servers</h1>
<div class="table-responsive-md">
<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Server type</th>
      <th>Role</th>
      <th>State</th>
      <th>Os</th>
      <th>Os version</th>
      <th>Application</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @servers.each do |server| %>
      <tr>
        <td><%= server.name %></td>
        <td><%= server.server_type %></td>
        <td><%= server.role %></td>
        <td><%= server.state %></td>
        <td><%= server.os %></td>
        <td><%= server.os_version %></td>
        <td><%= server.application %></td>
        <td><%= link_to 'Show', server %></td>
        <td><%= link_to 'Edit', edit_server_path(server) %></td>
        <td><%= link_to 'Destroy', server, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Server', new_server_path %>
