<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @server.name %>
</p>

<p>
  <strong>Server type:</strong>
  <%= @server.server_type %>
</p>

<p>
  <strong>Role:</strong>
  <%= @server.role %>
</p>

<p>
  <strong>State:</strong>
  <%= @server.state %>
</p>

<p>
  <strong>Os:</strong>
  <%= @server.os %>
</p>

<p>
  <strong>Os version:</strong>
  <%= @server.os_version %>
</p>

<p>
  <strong>Application:</strong>
  <%= @server.application %>
</p>

<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
