<div id="" class="">
<div class="white-btn-link text-right nowrap"> 
	<h4 for="Timeout">Set refersh timeout</h4> <input id="Timeout" type="text" value="60000"> 
</div>

<div class="accordion" id="accordionExample">
<div class="row">
<% @services.each do |service| %>
<div class="col servicecols">
  <div id="service_id_<%=service.id%>" class="servicecards card m-3 bg-transparent border-success">

    <div id="service_heading_id_<%=service.id%>" class="serviceCardHeaders card-header bg-transparent border-success" >
      <h4 class="card-title mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#service_collapse<%=service.id%>" aria-expanded="false" aria-controls="service_collapse<%=service.id%>"><h4><%= service.name %></h4></button>
			</h4>
			<!-- <div class="wrapper"><div class="ribbon-wrapper-green"><div class="ribbon-green">NEWS</div> hi there</div></div> -->

    </div>

    <div id="service_collapse<%=service.id%>" class="nopadding servicetarget collapse" aria-labelledby="heading<%=service.id%>" data-parent="#accordionExample" data-serviceid="<%=service.id%>">
      <div class="card-body">
			<div class="accordion" id="metric_service_collapse<%=service.id%>">
					  <!-- Here the rest call will fill the output for service-->
				<div class="row">
								<% service.applications.each do | applic| %>
									<div class="col appcols">

										<div id="app_id_<%=applic.id%>" class="nopadding appcards card m-3  bg-transparent border-success">

											<div id="app_heading_id_<%=applic.id%>" class="nopadding appCardHeaders card-header bg-transparent border-success " >
															<h5 class="card-title mb-0">
															<button class="btn btn-link collapsed" type="button" data-toggle="collapse" 
																	data-target="#app_collapse<%=applic.id%>" aria-expanded="false" 
																	aria-controls="app_collapse<%=applic.id%>"><h5><%= applic.name %></h5></button>
															</h5>
											</div>

											<div id="app_collapse<%=applic.id%>" class="nopadding apptarget collapse" aria-labelledby="appheading<%=applic.id%>" 
													data-parent="#metric_service_collapse<%=service.id%>" data-appid="<%=applic.id%>">
																<div class="card-body">
																		<div id="metric_app_collapse<%=applic.id%>" >
																				<!-- Here the rest call will fill the output -->
																						<div id="" class="row">
																							<div id="" class="col mb-1">
																									<%= link_to 'Application Health', 
																													application_dashboard_metrics_path(appid:applic.id), 
																													{:id=>"app_metrics_#{applic.id}", 
																													:class=>"btn btn-sm btn-success ",:role=>"button"} %>
																							</div>
																							<div id="" class="col mb-1">
																									<%= link_to 'Platform Health', 
																													platform_dashboard_metrics_path(appid:applic.id), 
																													{:id=>"platform_metrics_#{applic.id}", 
																													:class=>"btn btn-sm btn-success ",:role=>"button"} %>
																							</div>
																							<div id="" class="col">
																									<span class="badge badge-pill ">Database Health</span></br>
																							</div>
																				</div>

																		</div>
																</div>
											</div>

										</div> <!-- end of appcards div -->

									</div>
								<% end %> 

							</div>
					
							</div>
						</div>  <!-- end of "card-body" -->
					</div>


				</div>  <!-- end of servicecards -->
    </div>  <!-- end of servicecols -->
<%end%>
</div> <!-- End of Row -->

</div>
</div>
