<h2 class="white-btn-link">Platform Dashboard Metrics</h2>

<p class="btn btn-link white-btn-link"  id="showFullTable">Click here to toggle visibility of columns</a>

<div class="table-responsive">
<table class="table table-responsive table-sm">
  <thead class="thead-dark">
    <tr>
      <th>Capture time</th>
      <th>Metric name</th>
      <th>Metric description</th>
      <th class="toggleDisplay">Metric value</th>
      <th class="toggleDisplay">Component name</th>
      <th class="toggleDisplay">Component type</th>
      <th>Metric status</th>
      <th>Remarks</th>
      <th class="toggleDisplay">Server</th>
        <% if current_user.admin? %>
          <th class="toggleDisplay" colspan="3"></th>
        <% end %>
    </tr>
  </thead>

  <tbody>
    <% @platform_dashboard_metrics.each do |pdm| %>
      <tr>
        <td><%= pdm.capture_time %></td>
        <td><%= link_to pdm.metric_name, platform_dashboard_metrics_path(appid: pdm.server.application_id,metric_name: pdm.metric_name)%></td>
        <td><%= pdm.metric_description %></td>
        <td class="toggleDisplay"><%= pdm.metric_value %></td>
        <td class="toggleDisplay"><%= pdm.component_name %></td>
        <td class="toggleDisplay"><%= pdm.component_type %></td>
        <td class = "<%= pdm.metric_status == 'KO' ? 'btn-danger':'btn-success'%>" ><%= pdm.metric_status %></td>
        <td><%= pdm.remarks %></td>
        <td class="toggleDisplay"><%= pdm.server.name %></td>
        <% if current_user.admin? %>
								<td class="toggleDisplay"><%= link_to 'Show', pdm %></td>
								<td class="toggleDisplay"><%= link_to 'Edit', edit_platform_dashboard_metric_path(pdm) %></td>
								<td class="toggleDisplay"><%= link_to 'Destroy', pdm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<% if current_user.admin? %>
<%= link_to 'New Platform Dashboard Metric', new_platform_dashboard_metric_path %>
<% end %>
