<p id="notice"><%= notice %></p>

<p>
  <strong>Capture time:</strong>
  <%= @platform_dashboard_metric.capture_time %>
</p>

<p>
  <strong>Metric name:</strong>
  <%= @platform_dashboard_metric.metric_name %>
</p>

<p>
  <strong>Metric value:</strong>
  <%= @platform_dashboard_metric.metric_value %>
</p>

<p>
  <strong>Metric description:</strong>
  <%= @platform_dashboard_metric.metric_description %>
</p>

<p>
  <strong>Component name:</strong>
  <%= @platform_dashboard_metric.component_name %>
</p>

<p>
  <strong>Component type:</strong>
  <%= @platform_dashboard_metric.component_type %>
</p>

<p>
  <strong>Metric status:</strong>
  <%= @platform_dashboard_metric.metric_status %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @platform_dashboard_metric.remarks %>
</p>

<p>
  <strong>Server:</strong>
  <%= @platform_dashboard_metric.server %>
</p>

<%= link_to 'Edit', edit_platform_dashboard_metric_path(@platform_dashboard_metric) %> |
<%= link_to 'Back', platform_dashboard_metrics_path %>
